body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right,
            #358597 0%,
            #358597 50%,
            #F4a896 50%,
            #F4a896 100%);

}

.container {
    padding: 5% 10%;
    text-align: center;
}

img {
    border-radius: 50%;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 36px;


}


/* nav bar */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
}

nav li {
    padding: 10px 30px;
}

nav a {
    color: darkblue;
    text-decoration-color: white;
    text-transform: uppercase;
}

nav a:hover {
    color: deepskyblue;
    text-decoration-color: white;
}


/* header section */
header {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url("../assets/stars.png");
    font-size: 25px;
    padding: 5% 5%;
}

header h1 span {
    color: darkblue;
    font-family: "Pacifico", cursive;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
}



/* about */

.about {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url("../assets/stars.png");
    background-size: cover;
    background-attachment: fixed;
}

/* my skills */

.skills ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0px;
}

.skills li {
    background-color:aqua;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}


/* my work  */

.work {
    background-color: #bdd5ff;
}

.work-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.work-items img {
    margin-bottom: 30px;
}


/* footer */
.social {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

footer .svg-inline--fa {
    color: salmon;
    font-size: 65px;
}

footer .svg-inline--fa:hover {
    color: #3c778a;
}

.btn {
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: aqua;
}